@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient(
    circle at 50% 0%,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  min-height: 100vh;
  color: white;
}

.container {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

header {
  border: 3px solid hsl(214, 16%, 45%);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  margin: 50px 0;
  align-items: center;
}

h1 {
  display: flex;
  flex-direction: column;
  margin: 0;
  line-height: 0.8;
  text-transform: uppercase;
  font-size: 3rem;
}

h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

h4 {
  color: hsl(229, 64%, 46%);
  margin: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.score-container {
  background-color: #fff;
  padding: 20px 40px;
  text-align: center;
  border-radius: 10px;
}

.score-container p {
  color: hsl(229, 25%, 31%);
  font-size: 3.5rem;
  margin: 0;
  font-weight: 700;
}

.btn-rules {
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-family: inherit;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  /* MOVE THIS DONT FORGET */
  position: fixed;
  right: 30px;
  bottom: 0px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 400px;
  margin: 0 auto;
  position: relative;
}

main::before {
  background-image: url("./images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 20%;
  left: 15%;
  content: "";
  height: 70%;
  width: 70%;
  z-index: -1;
}

.btn-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: none;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.15);
  margin: 0 25px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.btn-circle:active {
  transform: scale(0.9);
}

.btn-circle .wrapper {
  width: 120px;
  height: 120px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.15);
}

.btn-circle img {
  background: #fff;
}

.btn-paper {
  background: linear-gradient(
    to bottom,
    hsl(230, 89%, 65%),
    hsl(230, 89%, 65%)
  );
}

.btn-scissors {
  background: linear-gradient(to bottom, hsl(40, 89%, 49%), hsl(40, 84%, 53%));
}

.btn-rock {
  background: linear-gradient(
    to bottom,
    hsl(349, 71%, 52%),
    hsl(349, 70%, 56%)
  );
}

.btn {
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  color: hsl(229, 25%, 31%);
  font-family: inherit;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
}

.selection {
  display: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 800px;
  margin: 0 auto;
  max-width: 100%;
}

.selection .btn-circle {
  transform: scale(1.2);
  margin: 50px;
}

.big-text {
  margin: 0 0 20px;
  line-height: 0.8;
  text-transform: uppercase;
  font-size: 3rem;
}

.rules-modal {
  background-color: #f0f0f0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.rules-modal button {
  border: none;
  background-color: transparent;
  margin-top: 100px;
  transform: scale(1.5);
  cursor: pointer;
}

@media (max-width: 600px) {
  .selection .btn-circle {
    margin: 50px 20px;
    transform: scale(1)
  }
  .selection {
    width: 500px
  }
  .responsive-one-column {
    order: 1;
  }
}
